.login_box_container {
  margin: 0 auto;
  max-width: 1030px;
  min-width: 320px;
  position: relative;
  padding-top: 15px;
  .login_box {
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    color: #26282a;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    width: 360px;
    right: 0;
    min-height: 550px;
    z-index: 1;
    padding: 28px 5px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-top: 1px solid #f1f1f5;
    .login_body {
      width: 320px;
      margin: 0 auto;
      .field_wrapper {
        display: flex;
        margin-bottom: 15px;
        flex-wrap: wrap;
        .full_field {
          width: 100%;
        }
        .field {
          width: 48.5%;
        }
        .month_field {
          width: 49%;
        }
        .day_field {
          width: 23%;
          margin-left: 8px;
        }
        .right {
          margin-left: 8px;
        }
      }
      .submit_btn {
        color: #fff;
        background: #188fff;
        border: 1px solid #188fff;
        padding: 0.75em 1.45em;
        box-sizing: border-box;
        font-size: 16px;
        border-radius: 1.17647rem;
        cursor: pointer;
        margin: 0;
        width: 100%;
        border: solid 1px #e4e7ef;
        white-space: normal;
      }
      .ureg-sign-in {
        margin-top: 28px;
        font-size: 14px;
        a {
          color: blue;
          cursor: pointer;
        }
      }
    }
  }
}
